body  {
    background-color: #fceee9;
    color: #4b2e2e;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 124px;
    text-align: center;
    margin-top: 50px;
}